
<h2>Translate Words | Login</h2>

<div class="row">
        <form class="col s offset-s3">
            <div class="row">
                <div class="input-field col s12">
                  <input placeholder="Placeholder" id="email" type="email" class="validate" ng-model="email">
                  <label for="email">Email</label>
                </div>
                <div class="input-field col s12">
                  <input id="password" type="password" class="validate" ng-model="pass">
                  <label for="password">Password</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light right" ng-click="login(email, pass)">Log In
                <i class="material-icons right">send</i>
            </button>

            <p ng-show="err" class="error">{{err}}</p>
        </form>
    </div>
</div>

